<div class="home-container">
    
  
    <!-- Conteúdo da Home - Adicione Banner ou outros componentes -->
    <div class="home-content">
        <!-- Banner -->
  <div class="banner">
    <img src="assets/banner.png" alt="Banner BurguerMania" />
  </div>
  
      <!-- Botões -->
      <div class="buttons-container">
        <button routerLink="/pedido" class="btn-order">Fazer Pedido</button>
        <button routerLink="/menu" class="btn-menu">Acessar Cardápio</button>
      </div>
    </div>
  </div>
  