.product-title {
  font-size: 2rem;
  color: #db1a00;
  text-align: center;
  margin: 20px 0;
}

.container-burguer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.no-burgers {
  font-size: 1.2rem;
  color: #999;
  text-align: center;
}

.menu-title {
  font-size: 2rem;
  color: #db1a00;
  text-align: center;
  margin: 20px 0;
}

.container-burguer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  padding: 12px 24px;
  background-color: #ed0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #521d16;
  transform: scale(1.05);
}

.burger-card:hover{
  transform: scale(1.05);
}


