<div *ngIf="categorias.length > 0" class="card">
  <h1 class="product-title">{{ categorias[0].name }}</h1> <!-- Exibe o nome da categoria filtrada -->
  <div class="container-burguer">
    <app-card-padrao class="burger-card" *ngFor="let burger of filteredBurgers" 
    (click)="navigateToCategory(burger.categoryId)"
    [burger]="burger" [categorias]="categorias" [title]="burger.name"></app-card-padrao>
  </div>
  <p *ngIf="filteredBurgers.length === 0" class="no-burgers">
    Nenhum hambúrguer disponível para esta categoria.
  </p>

  <div class="buttons-container">
    <app-button 
      [label]="showAll ? 'MOSTRAR MENOS' : 'VER CARDÁPIO COMPLETO'" 
      type="filled" 
      size="large" 
      (click)="toggleMenu()">
    </app-button>
  </div>
</div>

<p *ngIf="categorias.length === 0" class="no-category">
  Categoria não encontrada.
</p>