/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #ED0000;
    --secondary-color: #521D16;
    --text-color: #FFFFFF;
    --font-family: 'Sans-serif', Arial, sans-serif;
  }
  
  body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  